*
*:before,
*:after
  box-sizing: border-box
  margin: 0
  padding: 0
  outline none
*
  box-sizing: border-box


@media screen and (min-width: 768px)
  *
    cursor none


li
  list-style none

:root {
  --bg: 255,255,255
  --color: 0,0,0
}

a
  cursor none

p
  font-family: poppins, Arial, Helvetica, sans-serif

img
  display: block
  user-select: none

body, html
  overflow hidden
  // background: rgb(15, 15, 19)
  background: unquote("rgba(var(--bg), 1)")
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

*::selection
  background: rgba(0,0,0,0.2)


.page-enter-active
  transition: all .5s;
  *:nth-child(odd)
    transition: all .3s ease
  *:nth-child(even)
    transition: all .6s ease-out

.page-leave-active
  transition: all 0s !important;

.page-leave-to
  opacity 0

.page-enter
  opacity 0
  transform: translate(0,-50px)
  *
    opacity: 0 ;
  // *:nth-child(odd)
  //   transition: all .8s ease !important
  //   // opacity: 0 !important ;
  //   transform: translate(0,-100px) !important
  // *:nth-child(even)
  //   transition: all .5s ease-in !important
  //   // opacity: 0 !important ;
  //   transform: translate(0,100px) scale(.8)  !important
  // *:nth-child(4n)
  //   transition: all 1.2s ease-out !important
  //   // opacity: 0 !important ;
  //   transform: translate(100px,0px) !important
  // *:nth-child(3n)
  //   transition: all .9s ease-in-out !important
  //   // opacity: 0 !important ;
  //   transform: translate(-100px,0px)  scale(.8) !important

@media screen and (max-width: 768px)
  .container-view
    width 100vw
    height 100vh
    overflow-x auto
    overflow-y hidden
    .progress
      position: fixed !important
      width: calc(100% - 50px) !important

    .con-images
      transform: translate(0) !important
    .imagex
      transform translate(0) !important
      &:first-child
        margin-left 0px !important




@media screen and (max-width: 812px) and (max-height: 500px) and (orientation: landscape)
  .container-view
    width 100vw
    height 100vh
    overflow-x auto
    overflow-y hidden
    .progress
      position: fixed !important
      width: calc(100% - 50px) !important

    .con-images
      transform: translate(0) !important
    .imagex
      transform translate(0) !important
      &:first-child
        margin-left 0px !important
